name: Project Automation

on:
  issues:
    types: [opened, assigned]
  pull_request:
    types: [opened, closed]

jobs:
  add_to_backlog:
    if: github.event_name == 'issues' && github.event.action == 'opened'
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to Backlog
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/dukuzejean09/projects/2
          github-token: ${{ secrets.PROJECTS_PAT }}

  move_to_in_progress:
    if: github.event_name == 'issues' && github.event.action == 'assigned'
    runs-on: ubuntu-latest
    steps:
      - name: Move issue to In Progress
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/dukuzejean09/projects/2
          github-token: ${{ secrets.PROJECTS_PAT }}

  move_to_in_review:
    if: github.event_name == 'pull_request' && github.event.action == 'opened'
    runs-on: ubuntu-latest
    steps:
      - name: Move PR to In Review
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/dukuzejean09/projects/2
          github-token: ${{ secrets.PROJECTS_PAT }}

  move_to_done:
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Move PR to Done
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/dukuzejean09/projects/2
          github-token: ${{ secrets.PROJECTS_PAT }}
